@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" class="rz-p-x-2">
            <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
            <RadzenText Text="Biotrackr" TextStyle="TextStyle.H6" class="rz-m-0 rz-color-white" />
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@_sidebarExpanded">
        <NavMenu />
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenComponents @rendermode="InteractiveServer" />

@code {
    private bool _sidebarExpanded = true;
}
