@inherits LayoutComponentBase
@inject IUserInfoService UserInfoService

<RadzenLayout style="position: relative;">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Center" Gap="0"
                     JustifyContent="JustifyContent.SpaceBetween"
                     class="rz-p-x-2" Style="width: 100%;">
            <RadzenStack Orientation="Orientation.Horizontal"
                         AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
                <RadzenText Text="Biotrackr" TextStyle="TextStyle.H6"
                            class="rz-m-0 rz-color-white" />
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal"
                         AlignItems="AlignItems.Center" Gap="0.5rem">
                <RadzenAppearanceToggle />
                <RadzenProfileMenu>
                    <Template>
                        <RadzenStack Orientation="Orientation.Horizontal"
                                     AlignItems="AlignItems.Center" Gap="0.5rem">
                            <RadzenGravatar Email="@_userInfo.Email" Size="32" />
                            <RadzenText TextStyle="TextStyle.Body2"
                                        class="rz-m-0 rz-color-white rz-display-none rz-display-md-block">
                                @_userInfo.DisplayName
                            </RadzenText>
                        </RadzenStack>
                    </Template>
                    <ChildContent>
                        <RadzenProfileMenuItem Text="Profile" Icon="account_circle"
                                               Style="opacity: 0.5; pointer-events: none;" />
                        <RadzenProfileMenuItem Text="Sign Out" Icon="logout"
                                               Path=".auth/logout?post_logout_redirect_uri=/login" />
                    </ChildContent>
                </RadzenProfileMenu>
            </RadzenStack>
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@_sidebarExpanded" Responsive="false">
        <NavMenu />
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenComponents @rendermode="InteractiveServer" />

@code {
    private bool _sidebarExpanded = true;
    private UserInfo _userInfo = new();

    [Inject] private IHttpContextAccessor HttpContextAccessor { get; set; } = default!;

    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext is not null)
        {
            _userInfo = UserInfoService.GetUserInfo(HttpContextAccessor.HttpContext);
        }
    }
}
