<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Biotrackr</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activity">
                <span class="bi bi-activity-nav-menu" aria-hidden="true"></span> Activity
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="food">
                <span class="bi bi-food-nav-menu" aria-hidden="true"></span> Food
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sleep">
                <span class="bi bi-sleep-nav-menu" aria-hidden="true"></span> Sleep
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weight">
                <span class="bi bi-weight-nav-menu" aria-hidden="true"></span> Weight
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="bi bi-chat-nav-menu" aria-hidden="true"></span> Chat
            </NavLink>
        </div>

        <hr class="text-white-50 mx-3 my-2" />
        <div class="nav-item px-3">
            <a class="nav-link" href="/.auth/logout?post_logout_redirect_uri=/login">
                <span class="bi bi-logout-nav-menu" aria-hidden="true"></span> Sign Out
            </a>
        </div>
    </nav>
</div>

