::deep .rz-navigation-item-text {
    color: rgba(255, 255, 255, 0.85);
}

::deep .rz-navigation-item-icon {
    color: rgba(255, 255, 255, 0.7);
}

::deep .rz-state-active .rz-navigation-item-text,
::deep .rz-state-active .rz-navigation-item-icon {
    color: white;
}
