<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByAttribute>ExcludeFromCodeCoverage</ExcludeByAttribute>
          <Exclude>
            [*]Microsoft.AspNetCore.OpenApi.Generated.*,
            [*]System.Runtime.CompilerServices.*OpenApiXmlCommentSupport_generated*,
            [Biotrackr.Reporting.Api]Program
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
