@page "/login"
@layout LoginLayout

<PageTitle>Biotrackr - Sign In</PageTitle>

<RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center"
             class="rz-vh-100 rz-p-x-3">
    <RadzenCard Style="max-width: 420px; width: 100%;">
        <RadzenStack AlignItems="AlignItems.Center" Gap="1rem" class="rz-p-4">
            <div class="rz-color-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
                </svg>
            </div>
            <RadzenText TextStyle="TextStyle.H4">Biotrackr</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-color-secondary">
                Sign in to view your health data dashboard
            </RadzenText>
            <a href="/.auth/login/aad?post_login_redirect_uri=/" class="rz-button rz-button-lg rz-variant-filled rz-primary" style="width: 100%; text-align: center; text-decoration: none;">
                Sign in with Microsoft
            </a>
        </RadzenStack>
    </RadzenCard>
</RadzenStack>
